.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color ease-in 1s;  
    z-index: 99;
    .headerContainer{
        .headerWrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            color: #fff;
            margin-right: 1.5%;
            margin-left: 1.5%;
            .logo{
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                .logoIcon{
                    font-size: 40px;
                }
                .logoTitle{
                    font-size: 25px;
                    font-weight: 500;
                }
            }
            .links{
                width: 30%;
                ul{
                    display: flex;
                    list-style-type: none;
                    gap: 10%;
                    text-decoration: none;
                    gap: 5%;
                    li{
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
            .userEntry{
                display: block;
                gap: 15%;
                .logIn{
                    display: inline-block;
                    margin-left: -20%;
                    margin-right: 18%;
                    cursor:pointer;
                    font-size: 13px;
                    font-weight: 600;
                }
                .getStarted{
                    cursor: pointer;
                    padding: 20px;
                    background-color: #fff;
                    color: black;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}



.active{
    background: black;
}