@import "variables";

.product{
    background: #5B6166;
    .productContainer{
        max-width: 1250px;
        margin: 0 auto;
        .productWrapper{
            .productFirst{
                position: relative;
                z-index: 0;
                border-bottom: 1px solid #fff;
                    .productTitle{
                        position: relative;
                        padding-top: 5%;
                        @include font(110px,600,#fff);
                        width: 70%;
                        line-height: 100px;
                        letter-spacing:5px;
                        z-index: 2;
                        }
                p{
                    @include font(20px,600,#fff);
                    width: 35%;
                    margin-top: 3%;
                    margin-bottom: 2%;
                    line-height: 25px;
                }
                button{
                    border: none;
                    padding: 15px;
                    background-color: #fff;
                    @include font(13px,600,black);
                    margin-bottom: 37%;
                }
                .image{
                    position: absolute;
                    max-width: 1000px;
                    max-height: 1000px;
                    clip-path: polygon(25.2336% 16.1372%, 89.0078% 19.6237%, 74.7664% 83.8628%, 10.9922% 80.3763%);
                    top: 6.5%;
                    left: 30%;
                    z-index: 0;    
                }
            }
            .productSecond{
                display: flex;
                padding-top:5%;
                border-bottom: 1px solid #fff;
                padding-bottom: 5%;
                .productSecondText{
                    h4{
                        @include font(55px,500,#fff);
                        width: 75%;
                        line-height: 50px;
                        margin-bottom: 32%;
                    }
                    p{
                        @include font(18px,600,#fff);
                        width: 85%;
                    }
                }
                .productSecondImage{
                    width: auto;
                }
            }
            .productThird{
                display: flex;
                padding-top:5%;
                border-bottom: 1px solid #fff;
                padding-bottom: 5%;
                .productThirdText{
                    h4{
                        @include font(55px,500,#fff);
                        width: 75%;
                        line-height: 50px;
                        margin-bottom: 43%;
                    }
                    p{
                        @include font(18px,600,#fff);
                        width: 85%;
                    }
                }
                .productThirdImage{
                    width: auto;
                }
            }
            .productFourth{
                display: flex;
                padding-top:5%;
                border-bottom: 1px solid #fff;
                padding-bottom: 5%;
                .productFourthText{
                    h4{
                        @include font(55px,500,#fff);
                        width: 75%;
                        line-height: 50px;
                        margin-bottom: 18%;
                    }
                    p{
                        @include font(18px,600,#fff);
                        width: 85%;
                    }
                }
                .productFourthImage{
                    width: auto;
                }
            }
        }
    }
}





@media only screen and (max-width: 1249px) and (min-width: 701px){

    .product{
        .productContainer{
            .productWrapper{
                .productFirst{
                    margin-left: 2%;
                        .productTitle{
                            @include font(50px,600,#fff);
                            line-height: 61px;
                            }
                    p{
                        @include font(20px,600,#fff);
                        margin-top: 3%;
                        margin-bottom: 3%;
                        width: 90%;
                    }
                    button{
                        margin-bottom: 5%;
                        font-size: 15px;
                    }
                    .image{
                       display: none;
                    }
                }
                .productSecond{
                    align-items: center;
                    margin: 0 2%;
                    .productSecondText{
                        h4{
                            @include font(38px,500,#fff);
                            margin-bottom: 0;
                        }
                        p{
                            margin-top: 4%;
                            @include font(18px,600,#fff);
                        }
                    }
                    .productSecondImage{
                        width: auto;
                    }
                }
                .productThird{
                    margin: 0 2%;
                    align-items: center;
                    .productThirdText{
                        h4{
                            @include font(38px,500,#fff);
                            margin-bottom: 0;
                        }
                        p{
                            @include font(18px,600,#fff);
                            margin-top: 4%;
                        }
                    }
                    .productThirdImage{
                        img{
                            width: 820px;
                        }
                    }
                }
                .productFourth{
                   align-items: center;
                   margin: 0 2%;
                    .productFourthText{
                        h4{
                            @include font(38px,500,#fff);
                            margin-bottom: 0;
                        }
                        p{
                            @include font(18px,600,#fff);
                            margin-top: 4%;
                        }
                    }
                    .productFourthImage{
                        img{
                            width: 1555px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 1px){

    .product{
        .productContainer{
            .productWrapper{
                .productFirst{
                    margin-left: 2%;
                        .productTitle{
                            @include font(28px,600,#fff);
                            line-height: 41px;
                            width: 80%;
                            }
                    p{
                        @include font(13px,600,#fff);
                        margin-top: 3%;
                        margin-bottom: 3%;
                        width: 90%;
                    }
                    button{
                        margin-bottom: 5%;
                        font-size: 13px;
                        padding: 10px;
                    }
                    .image{
                       display: none;
                    }
                }
                .productSecond{
                    flex-direction: column;
                    align-items: center;
                    margin: 0 2%;
                    .productSecondText{
                        h4{
                            @include font(28px,500,#fff);
                            margin-bottom: 0;
                            width: 100%;
                            text-align: center;
                        }
                        p{
                            margin: 0 auto;
                            margin-top: 4%;
                            @include font(13px,600,#fff);
                            width: 100%;
                            padding-bottom: 20px;
                        }
                    }
                    .productSecondImage{
                        width: auto;
                    }
                }
                .productThird{
                    margin: 0 2%;
                    align-items: center;
                    flex-direction: column;
                    .productThirdText{
                        h4{
                            @include font(28px,500,#fff);
                            margin-bottom: 0;
                            width: 100%;
                            text-align: center;
                        }
                        p{
                            @include font(13px,600,#fff);
                            margin-top: 4%;
                            width: 100%;
                            padding-bottom: 20px;
                        }
                    }
                    .productThirdImage{
                        img{
                            width: 820px;
                        }
                    }
                }
                .productFourth{
                   align-items: center;
                   margin: 0 2%;
                   flex-direction: column;
                    .productFourthText{
                        h4{
                            @include font(28px,500,#fff);
                            margin-bottom: 0;
                            text-align: center;
                            width: 100%;
                        }
                        p{
                            @include font(13px,600,#fff);
                            margin-top: 4%;
                            width: 100%;
                            padding-bottom: 20px;
                        }
                    }
                    .productFourthImage{
                        img{
                            width: 1555px;
                        }
                    }
                }
            }
        }
    }
}