.product {
  background: #5B6166;
}
.product .productContainer {
  max-width: 1250px;
  margin: 0 auto;
}
.product .productContainer .productWrapper .productFirst {
  position: relative;
  z-index: 0;
  border-bottom: 1px solid #fff;
}
.product .productContainer .productWrapper .productFirst .productTitle {
  position: relative;
  padding-top: 5%;
  font-size: 110px;
  font-weight: 600;
  color: #fff;
  width: 70%;
  line-height: 100px;
  letter-spacing: 5px;
  z-index: 2;
}
.product .productContainer .productWrapper .productFirst p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  width: 35%;
  margin-top: 3%;
  margin-bottom: 2%;
  line-height: 25px;
}
.product .productContainer .productWrapper .productFirst button {
  border: none;
  padding: 15px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  color: black;
  margin-bottom: 37%;
}
.product .productContainer .productWrapper .productFirst .image {
  position: absolute;
  max-width: 1000px;
  max-height: 1000px;
  -webkit-clip-path: polygon(25.2336% 16.1372%, 89.0078% 19.6237%, 74.7664% 83.8628%, 10.9922% 80.3763%);
          clip-path: polygon(25.2336% 16.1372%, 89.0078% 19.6237%, 74.7664% 83.8628%, 10.9922% 80.3763%);
  top: 6.5%;
  left: 30%;
  z-index: 0;
}
.product .productContainer .productWrapper .productSecond {
  display: flex;
  padding-top: 5%;
  border-bottom: 1px solid #fff;
  padding-bottom: 5%;
}
.product .productContainer .productWrapper .productSecond .productSecondText h4 {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  width: 75%;
  line-height: 50px;
  margin-bottom: 32%;
}
.product .productContainer .productWrapper .productSecond .productSecondText p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 85%;
}
.product .productContainer .productWrapper .productSecond .productSecondImage {
  width: auto;
}
.product .productContainer .productWrapper .productThird {
  display: flex;
  padding-top: 5%;
  border-bottom: 1px solid #fff;
  padding-bottom: 5%;
}
.product .productContainer .productWrapper .productThird .productThirdText h4 {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  width: 75%;
  line-height: 50px;
  margin-bottom: 43%;
}
.product .productContainer .productWrapper .productThird .productThirdText p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 85%;
}
.product .productContainer .productWrapper .productThird .productThirdImage {
  width: auto;
}
.product .productContainer .productWrapper .productFourth {
  display: flex;
  padding-top: 5%;
  border-bottom: 1px solid #fff;
  padding-bottom: 5%;
}
.product .productContainer .productWrapper .productFourth .productFourthText h4 {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  width: 75%;
  line-height: 50px;
  margin-bottom: 18%;
}
.product .productContainer .productWrapper .productFourth .productFourthText p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 85%;
}
.product .productContainer .productWrapper .productFourth .productFourthImage {
  width: auto;
}

@media only screen and (max-width: 1249px) and (min-width: 701px) {
  .product .productContainer .productWrapper .productFirst {
    margin-left: 2%;
  }
  .product .productContainer .productWrapper .productFirst .productTitle {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    line-height: 61px;
  }
  .product .productContainer .productWrapper .productFirst p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
  }
  .product .productContainer .productWrapper .productFirst button {
    margin-bottom: 5%;
    font-size: 15px;
  }
  .product .productContainer .productWrapper .productFirst .image {
    display: none;
  }
  .product .productContainer .productWrapper .productSecond {
    align-items: center;
    margin: 0 2%;
  }
  .product .productContainer .productWrapper .productSecond .productSecondText h4 {
    font-size: 38px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
  }
  .product .productContainer .productWrapper .productSecond .productSecondText p {
    margin-top: 4%;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  .product .productContainer .productWrapper .productSecond .productSecondImage {
    width: auto;
  }
  .product .productContainer .productWrapper .productThird {
    margin: 0 2%;
    align-items: center;
  }
  .product .productContainer .productWrapper .productThird .productThirdText h4 {
    font-size: 38px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
  }
  .product .productContainer .productWrapper .productThird .productThirdText p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 4%;
  }
  .product .productContainer .productWrapper .productThird .productThirdImage img {
    width: 820px;
  }
  .product .productContainer .productWrapper .productFourth {
    align-items: center;
    margin: 0 2%;
  }
  .product .productContainer .productWrapper .productFourth .productFourthText h4 {
    font-size: 38px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
  }
  .product .productContainer .productWrapper .productFourth .productFourthText p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 4%;
  }
  .product .productContainer .productWrapper .productFourth .productFourthImage img {
    width: 1555px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 1px) {
  .product .productContainer .productWrapper .productFirst {
    margin-left: 2%;
  }
  .product .productContainer .productWrapper .productFirst .productTitle {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    line-height: 41px;
    width: 80%;
  }
  .product .productContainer .productWrapper .productFirst p {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
  }
  .product .productContainer .productWrapper .productFirst button {
    margin-bottom: 5%;
    font-size: 13px;
    padding: 10px;
  }
  .product .productContainer .productWrapper .productFirst .image {
    display: none;
  }
  .product .productContainer .productWrapper .productSecond {
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
  }
  .product .productContainer .productWrapper .productSecond .productSecondText h4 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
  .product .productContainer .productWrapper .productSecond .productSecondText p {
    margin: 0 auto;
    margin-top: 4%;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    padding-bottom: 20px;
  }
  .product .productContainer .productWrapper .productSecond .productSecondImage {
    width: auto;
  }
  .product .productContainer .productWrapper .productThird {
    margin: 0 2%;
    align-items: center;
    flex-direction: column;
  }
  .product .productContainer .productWrapper .productThird .productThirdText h4 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
  .product .productContainer .productWrapper .productThird .productThirdText p {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-top: 4%;
    width: 100%;
    padding-bottom: 20px;
  }
  .product .productContainer .productWrapper .productThird .productThirdImage img {
    width: 820px;
  }
  .product .productContainer .productWrapper .productFourth {
    align-items: center;
    margin: 0 2%;
    flex-direction: column;
  }
  .product .productContainer .productWrapper .productFourth .productFourthText h4 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
  .product .productContainer .productWrapper .productFourth .productFourthText p {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-top: 4%;
    width: 100%;
    padding-bottom: 20px;
  }
  .product .productContainer .productWrapper .productFourth .productFourthImage img {
    width: 1555px;
  }
}/*# sourceMappingURL=product.css.map */