@import "variables";

.trial{
    padding: 5% 0;
    background-color: black;
    .trialContainer{
        max-width: 1250px;
        margin: 0 auto;
        .trialWrapper{
            .trialTextImage{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .image{
                    width: 120%;
                    img{
                    width: 653px;
                    }
                }
            .text{
                h2{
                    @include font(70px,600,#fff);
                    width: 85%;
                    line-height: 60px;
                }
                span{
                    margin-top: 5%;
                    display: inline-block;
                    @include font(20px,600,#fff);
                }
            }
            }
        }
    }
}


@media only screen and (max-width: 1249px) and (min-width: 701px) {
    .trial{
        .trialContainer{
            .trialWrapper{
                .trialTextImage{
                    flex-direction: column;
                    .image{
                        width: auto;
                        padding-bottom: 30px;
                        img{
                        width: 653px;
                        }
                    }
                .text{
                    text-align: center;
                    h2{
                        @include font(80px,600,#fff);
                        width: 100%;
                        line-height: 75px;
                    }
                    span{
                        margin-top: 5%;
                        display: inline-block;
                        @include font(25px,600,#fff);
                    }
                }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
    .trial{
        .trialContainer{
            .trialWrapper{
                .trialTextImage{    
                    flex-direction: column;
                    .image{
                        width: 90%;
                        padding-bottom: 30px;
                        img{
                        width: 653px;
                        }
                    }
                .text{
                    text-align: center;
                    h2{
                        @include font(33px,600,#fff);
                        width: 100%;
                        line-height: 45px;
                    }
                    span{
                        margin-top: 5%;
                        display: inline-block;
                        @include font(15px,600,#fff);
                    }
                }
                }
            }
        }
    }
}