@import "variables";

.website{
    background-color: black;
    .websiteContainer{
        .websiteWrapper{
            max-width: 1250px;
            margin: 0 auto;
            .websiteTitle{
                display: flex;
                flex-direction: column;
                span{
                    @include font(150px,600,#fff);
                    text-align: center;
                    line-height: 130px;
                    &:nth-child(odd){
                        margin-left: -25%;
                        margin-top: 8%;
                    }
                    &:nth-child(even){
                        margin-bottom: 5%;
                    }

                }
            }
            .websiteImage{
                background-color: #905358;
                max-width: 900px;
                margin: 0 auto;
                .websitePart{
                    .websiteHeader{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding:  30px;
                        padding-top: 51px;
                        padding-bottom: 61px;
                        .companyName{
                            @include font(20px,500,#E4E88D);
                        }
                        .companyLinks{
                            @include font(20px,500,#E4E88D);
                            display: flex;
                            gap:6%;
                        }
                        .companyButton{
                            @include font(20px,500,black);
                            background-color: #E4E88D;
                            padding: 15px;
                            border-radius: 15px;
                        }
                        }
                    .image{
                        position: relative;
                        img{
                            border-radius: 20px;
                            margin: 0 auto;
                            height: 400px;
                        }
                        .absoluteText{
                        position: absolute;
                        @include font(50px,500,#E4E88D);
                        top: 40%;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        line-height: 75px;
                        }    
                    }
                }
            }
            .websiteTemplates{
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                opacity: 0;
                transform: translateX(10%);
                transition: all 0.8s cubic-bezier(.165,.84,.44,1);
                span{
                    @include font(50px,500,#fff);
                    line-height:50px
                }
                p{
                    margin-top: 2%;
                    @include font(20px,600,#fff);
                    width:35%;
                }
            }
            .websitesLink{
                margin-top: 5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .links{
                    display: flex;
                    flex-direction: column;
                    @include font(35px,600,#fff);
                    line-height: 30px;
                    border-width: 0;
                    opacity: 0;
                    transition: all .8s cubic-bezier(.165,.84,.44,1) ;
                    transform: translateX(50%);    
                    span{
                        cursor: pointer;
                        margin-bottom: 8%;
                        &:hover{
                            border-bottom: 1px solid #fff;
                        }        
                    }
                }
                .linksPhoto{
                    img{
                        width: 719px;
                        display: none;
                    }
                }
            }
            .madeSquareSpace{
                margin-top: 10%;
                .squareSpaceFlex{
                    display: flex;
                    align-items: center;
                    gap: 10%;
                    .squareImage{
                        margin-bottom: 5%;
                        img{
                            width: 730px;
                        }
                    }
                .squareSpaceText{
                    h2{
                        @include font(40px,600,#fff);
                        line-height: 40px;
                        width:70%;
                    }
                    p{
                        margin-top: 5%;
                        @include font(15px,600,#fff);
                        width: 50%;
                    }
                }
                }
            }
        }
    }
}


.active{
    display: block !important;
}

.animate{
    opacity: 1 !important;
    transform: translateX(0) !important;
}


@media only screen and (max-width: 1249px) and (min-width: 701px){
    .website{
        .websiteContainer{
            .websiteWrapper{
                max-width: 1249px;
                .websiteTitle{
                    span{
                        @include font(100px,600,#fff);
                        &:nth-child(odd){
                            margin-left: 0;
                            margin-top: 8%;
                        }
                        &:nth-child(even){
                            margin-bottom: 5%;
                        }
    
                    }
                }
                .websiteImage{
                    background-color: #905358;
                    max-width: 900px;
                    margin: 0 auto;
                    .websitePart{
                        .websiteHeader{
                            padding:  30px;
                            padding-top: 51px;
                            padding-bottom: 61px;
                            .companyName{
                                @include font(15px,500,#E4E88D);
                            }
                            .companyLinks{
                                @include font(15px,500,#E4E88D);
                            }
                            .companyButton{
                                @include font(20px,500,black);
                                border-radius: 10px;
                            }
                            }
                        .image{
                            padding-bottom: 50px;
                            img{
                                border-radius: 20px;
                            }
                            .absoluteText{
                            @include font(35px,500,#E4E88D);
                            top: 25%;
                            }    
                        }
                    }
                }
                .websiteTemplates{
                    span{
                        @include font(40px,500,#fff);
                        text-align: center;
                    }
                    p{
                        @include font(20px,600,#fff);
                        width:90%;
                        margin-right: auto;
                        margin-left: auto;
                        text-align: center;
                    }
                }
                .websitesLink{
                    margin-top: 5%;
                    display: flex;
                    flex-direction: column;
                    .links{
                        @include font(30px,600,#fff);
                        padding-bottom: 20px;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: 0 2%;
                        gap: 5%;
                        justify-content: center;
                        span{
                            cursor: pointer;
                            margin-bottom: 8%;
                            &:hover{
                                border-bottom: 1px solid #fff;
                            }        
                        }
                    }
                    .linksPhoto{
                        img{
                        }
                    }
                }
                .madeSquareSpace{
                    .squareSpaceFlex{
                        display: flex;
                        align-items:center;
                        flex-direction: column;
                        justify-content: center;
                        .squareImage{
                            display: none;
                            margin-bottom: 5%;
                            img{
                            }
                        }
                    .squareSpaceText{
                        padding-bottom: 50px;
                        text-align: center;
                        h2{
                            @include font(35px,600,#fff);
                            width:100%;
                        }
                        p{
                            width: 100%;
                            margin-top: 1%;
                            font-size: 18px;
                        }
                    }
                    }
                }
            }
        }
    }    
}


@media only screen and (max-width: 700px) and (min-width: 0px){
    .website{
        .websiteContainer{
            .websiteWrapper{
                .websiteTitle{
                    span{
                        @include font(28px,600,#fff);
                        line-height: 40px;
                        &:nth-child(odd){
                            margin-left: 0;
                            margin-top: 8%;
                        }
                        &:nth-child(even){
                            margin-bottom: 5%;
                        }
    
                    }
                }
                .websiteImage{
                    .websitePart{
                        .websiteHeader{
                            display: none;
                            gap: 10%;
                            padding:  30px;
                            padding-top: 51px;
                            padding-bottom: 61px;
                            align-items: center;
                            justify-content: space-evenly;
                            .companyName{
                                @include font(12px,500,#E4E88D);
                            }
                            .companyLinks{
                                @include font(12px,500,#E4E88D);
                            }
                            .companyButton{
                                @include font(12px,500,black);
                                display: none;
                            }
                            }
                        .image{
                            padding-bottom: 50px;
                            padding-top: 50px;
                            img{
                                border-radius: 20px;
                            }
                            .absoluteText{
                            @include font(20px,500,#E4E88D);
                            top: 25%;
                            }    
                        }
                    }
                }
                .websiteTemplates{
                    padding-bottom: 20px;
                    span{
                        @include font(28px,500,#fff);
                        text-align: center;
                    }
                    p{
                        @include font(13px,600,#fff);
                        width:90%;
                        margin-right: auto;
                        margin-left: auto;
                        text-align: center;
                    }
                }
                .websitesLink{
                    margin-top: 5%;
                    flex-direction: column;
                    .links{
                        @include font(30px,600,#fff);
                        padding-bottom: 20px;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: 0 2%;
                        gap: 5%;
                        justify-content: center;
                        span{
                            cursor: pointer;
                            margin-bottom: 8%;
                            &:hover{
                                border-bottom: 1px solid #fff;
                            }        
                        }
                    }
                    .linksPhoto{
                        img{
                        }
                    }
                }
                .madeSquareSpace{
                    .squareSpaceFlex{
                        display: flex;
                        align-items:center;
                        flex-direction: column;
                        justify-content: center;
                        .squareImage{
                            display: none;
                            margin-bottom: 5%;
                            img{
                            }
                        }
                    .squareSpaceText{
                        padding-bottom: 50px;
                        text-align: center;
                        h2{
                            @include font(28px,600,#fff);
                            width:100%;
                        }
                        p{
                            width: 100%;
                            margin-top: 1%;
                            font-size: 13px;
                        }
                    }
                    }
                }
            }
        }
    }    
}